*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/*LAYOUT CLASSES*/


.container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container-full{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col7{
    width: calc(100% / 7);
}

.content{
    margin: 3px;
    position: relative;
}

.content-foot{
    display: flex;
    flex-wrap: wrap;
}

.around{
    justify-content: space-around;
}

img{
    width: 100%;
    height: 114px;
}

.col25{
    width:25%;
}

.col50{
    width:50%;
}

main{
    height:85vh;
    overflow-y: scroll;
}

footer{
    height:10vh;
    background-color: #292929;
    display: flex;
    align-items: center;
}

header{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.icon-container{
    text-align: center;
}

/*UTILITY CLASSES*/

.just-center{
    justify-content: center;
}

.just-end{
    justify-content: flex-end;
}

.p-r5{
    padding-right: 5px;
}

.m-top55{
    margin-top: 25px;
}

.m-top5{
    margin-top: 5px;
}

.m-top15{
    margin-top: 15px;
}

.m-top10{
    margin-top: 10px;
}

.p-10{
    padding: 10px;
}

.p-5{
    padding: 5px;
}

.m-r10{
    margin-right: 10px;
}

.m-l10{
    margin-left: 10px;
}

.m-l20{
    margin-left: 20px;
}

.m-r5{
    margin-right: 5px;
}

.mb5{
    margin-bottom: 5px;
}

.flex-cntr{
    display: flex;
    align-content: center;
}

.text-sm{
    font-size: 10pt;
}

.larger{
    font-size: 18pt;
    margin-bottom: 10px;
}

.lablebox{
    position: absolute;
    left: 0;
    bottom: 4px;
}

.ta-center{
    text-align: center;
}



/*STYLING CLASSES*/

.btn{
    background-color: #505050; 
    padding:5px;
    border-radius: 5px;
}

.lable{
    background-color: #a0a0a077;
    padding:5px
}


.end-btn{
    background-color: #505050;
    width: 150px;
    color: red;
    text-align: center;
    height: 10vh;
    padding-top: 30px;
}

.green{
    color: rgb(3, 211, 3);
}
